html,
body,
#root {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.LL-title {
  font-family: "Oswald", sans-serif;
  border: #ffcc00 solid 4px;
  background-color: #1030ad;
  color: #ffcc00;
  padding: 10px 10px 10px 10px;
  font-weight: bolder;
  font-size: 3rem;
  letter-spacing: 0.225rem;
}

.main-nav {
  box-sizing: border-box;
  background-color: #1030ad;
  padding: 1rem 0rem 0rem 0rem !important;
}

.main-nav-text,
.table-heading-text {
  color: #ffcc00;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: 0.15rem;
}

.main-nav-text:hover {
  color: #c2a803;
}

.tablehead {
  background-color: #292b2c;
  color: #ffcc00;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
}

.container2 {
  background-color: #1030ad;
  width: inherit;
  height: inherit;
  overflow: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0 1rem 0 1rem;
}

td {
  background-color: white;
}

td,
.list-group,
.deletebutton,
.search,
.movieForm {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.09rem;
}

.list-group a {
  background-color: white;
}

.clickable {
  cursor: pointer;
}

.login-box {
  margin: 0 10% 10% 10%;
  font-family: "Oswald", sans-serif;
  color: #ffcc00;
  font-weight: bolder;
  letter-spacing: 0.05em;
}
.login-text {
  font-family: "Oswald", sans-serif;
  background-color: #1030ad;
  color: #ffcc00;
  margin-left: 10%;
  font-weight: bolder;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 600px) {
  .container2 {
    max-height: 100%;
  }
  .sidebar {
    display: none;
  }
  .LL-title {
    font-size: 1.5rem;
    letter-spacing: 0.113rem;
  }
  .main-nav-text,
  .table-heading-text {
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 0.075rem;
  }
  .tablehead {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  td,
  .list-group,
  .deletebutton,
  .search,
  .movieForm {
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
  }
  .admin > table > .tablebody > tr > td:nth-child(2) {
    display: none;
  }
  .admin > table > .tablehead > tr > th:nth-child(2) {
    display: none;
  }
}
